.navbar-fixed a,.dropdown-content li a{
	color:#b71c1c;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 19px;
}
a.brand-logo{
	font-size: 36px;
}
.parallax-container{
	height:240px;
}
.card-content{
	height:60px;
}
.card-title{
	padding-top: 0;
	margin-top: 0;
}
.card-reveal a.btn{
	font-size: 11px;
}

i{
	font-size: 18px;
}

#links ul li{
  display:inline;
  margin:0 1px;
}